<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="{{ path('orders') }}" class="navbar-brand d-flex align-items-center">
                <img class="me-3" src="https://eltex-co.ru/local/assets/img/logo-eltex-white-2.png" alt="eltex-test" />
                <strong class="fs-3">Test</strong>
            </a>
        </div>
    </div>
</header>